.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(to right, #fcbd47de, #fc883ade);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 6rem auto 6rem;
  padding: 3rem;
}

.upload-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.upload-container input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.image-preview {
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 3rem auto 3rem -3rem;
  padding: 3rem;
  padding: 2rem;
  background: linear-gradient(to right, #fcbd47de, #fc883ade);
  border-radius: 8px;
}

.image-preview h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  border: 2px solid #fc883ade;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
