.card {
    width: 180px;
    height: 270px;
    display: block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    display: block;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0;
}
.sub-title {
    font-size: 1em;
    margin: 0 0;
}
.favorite {
    color: red;
    font-size: 1em;
    margin: 0 0;
}
