.mini-image {
    width: 100px;
    height: auto;
    display: block;
}
.divider {
    margin: 1em 0;
    border-bottom: 2px solid #ff0000;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li {
    margin-right: 2rem;
    margin-bottom: 1rem;
    
}
.mini-image:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>') 16 16, auto;   
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    filter: grayscale(100%) drop-shadow(0px 0 15px rgb(0, 0, 0));
}
